* {
    font-family: "Poppins", "Nunito", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

*:not(h1, h2, h3, h4, h5, h6) {
    font-size: 24px;
}

body {
    background-color: pink; 
    margin: 1% 1% 1% 1%;
    overflow-x: hidden; 
    overflow-y: scroll;
}

body > * {
    width:100%;
}

header {
    background-color: rgb(232, 169, 179);
    margin-bottom: 2.5%;
    font-size: xx-large;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 30%;
    display: flex;
}

footer {
    margin-top:2.5%;
}

article {
    margin-top: 1%;
    background-color: rgb(232, 169, 179);
    border-radius: 16px;
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding: 12px;
}

strong {
    font-weight:bolder;
}
.image-grid {
    width:100%;
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); 
    gap:12px; 
    margin-top:12px;
    padding: 0px 12px 0px 12px;
}

.images {
    transition: transform 0.1s linear;
    width:100%; 
    height:auto; 
    display:block; 
    border-radius:12px;
}

.image-div:hover .images {
    transform: scale(0.98);
    display:block; 
    border-radius:12px;
}

.image-and-text {
    display: grid; 
    grid-template-columns: auto 1fr; 
    gap: 20px; 
    align-items: center;
    max-height:300px;
}

::-webkit-scrollbar {
    scrollbar-width: thin;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(196, 142, 151);
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background-color: inherit;
}

hr {
    border-style: none;
    border-color: rgb(232, 169, 179); 
    border-radius: 3px;
    height: 5px; 
    background-color: rgb(232, 169, 179);
}

li {
    text-align: left;
}

.contact-us {
    list-style-type:square;

}